@{
    ViewBag.Title = "FoodDetails";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
@{
    ViewBag.Title = "IndexListFood";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
@model WebReviewFood.ViewModels.ReviewFoodViewModel
<link rel="icon" href="@Url.Content("~/Content/mytemplate/")img/core-img/logo.PNG">
<!-- Core Stylesheet -->
<link href="@Url.Content("~/Content/mytemplate/")style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="@Url.Content("~/Content/mytemplate/")css/responsive/responsive.css" rel="stylesheet">
<!-- Jquery-2.2.4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/others/plugins.js"></script>
<!-- Active JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/active.js"></script>


<h2 style="text-align:center">FoodDetails</h2>

<div>
    <h4>ReviewFood</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBaiReview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiReview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongtinFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongtinFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhGiaFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhGiaFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageCover)
        </dd>

    </dl>
</div>
<div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".2s"
     style="visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInUpBig;
        margin: 0 auto;
        ">
    <p class="read-more">
        @Html.ActionLink("Edit", "EditFood", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "IndexListFood")
    </p>
</div>
