@model WebReviewFood.ViewModels.ReviewFoodViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<!-- Core Stylesheet -->
<link href="@Url.Content("~/Content/mytemplate/")style.css" rel="stylesheet">

<!-- Responsive CSS -->
<link href="@Url.Content("~/Content/mytemplate/")css/responsive/responsive.css" rel="stylesheet">
<!-- Jquery-2.2.4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/popper.min.js"></script>
<!-- Bootstrap-4 js -->
<script src="@Url.Content("~/Content/mytemplate/")js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/others/plugins.js"></script>
<!-- Active JS -->
<script src="@Url.Content("~/Content/mytemplate/")js/active.js"></script>
<h2 style="text-align:center">Create New Review</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin:auto;width:20%">
        <h4 style="text-align:center">Tạo Bài Viết Mới</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TenBaiReview, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenBaiReview, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenBaiReview, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThongtinFood, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ThongtinFood, 10, 70, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThongtinFood, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DanhGiaFood, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.DanhGiaFood, 10, 70, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DanhGiaFood, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageCover, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageCover, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ImageCover, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Category,
                new SelectList(Model.Categories, "Id", "LoaiMonAn"), "", new { @class = "from-control" })
                @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div style="margin:auto;width:70%">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Trở Về", "Index")
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
